<h2 class="text-center mb-4">Create New User</h2>


<% if flash[:messages] %>
  <% flash[:messages].each do |attr, message| %>
    <p class="text-danger"><%= message[0]%> </p>
  <% end %>
<% end %>

<%= form_for(@user, url: "/sign_up", method: "post") do |f| %>
  <div class="form-group">
    <%= f.label :username, 'Username' %>
    <%= f.text_field :username, required: true, maxlength: 15, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :name, 'Your name' %>
    <%= f.text_field :name, required: true, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :email, 'Email' %>
    <%= f.text_field :email, class: "form-control", required: true%>
  </div>

  <div class="form-group">
    <%= f.label :password_digest, 'Password' %>
    <%= f.password_field :password_digest, class: "form-control", required: true, pattern: '(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).*', title: 'Password must contain atleast one uppercase, lowercase and number' %>
  </div>

  <div class="form-group">
    <%= f.submit "Sign Up", class: 'btn btn-dark btn-block btn-lg' %>
  </div>
  
<% end %>
